<header>
    <div class="container">
      <nav class="header">
        <div class="logo">Manul Coin Shop</div>
  
            <ul class="menu">
                <li class="user-info">
                    <span class="user-name">
                        {{currentUser()?.name}}
                    </span>

                    <span class="balance">
                        {{currentUser()?.balance}} {{ 'common.coins' | translate }}
                    </span>
                </li>
        
                <li>
                    <button mat-icon-button routerLink="/orders" class="icon" type="button" aria-label="Заказы">
                    <mat-icon>receipt_long</mat-icon>
                    </button>
                </li>
        
                <li>
                    <button mat-icon-button class="icon" routerLink="/cart" type="button" aria-label="Корзина">
                    <mat-icon>shopping_cart</mat-icon>
                    </button>
                </li>

                <li>
                    <mat-button-toggle-group class="lang-toggle" [value]="currentLang()" (change)="switchLang($event.value)" hideSingleSelectionIndicator>
                        <mat-button-toggle value="ru">RU</mat-button-toggle>
                        <mat-button-toggle value="en">EN</mat-button-toggle>
                    </mat-button-toggle-group>
                </li>
                <li>
                    <button class="logout-button" type="button" (click)="logout()">
                        {{ 'header.logout' | translate }}
                    </button>
                </li>

            </ul>
      </nav>
    </div>
  </header>  