<header>
    <div class="container">
      <nav class="header">
        <div class="logo">Manul Coin Shop</div>
  
            <ul class="menu">
                <li class="user-info">
                    <span class="user-name">
                    {{(authService.currentUser$ | async)?.name}}
                    </span>

                    <span class="balance">
                    {{(authService.currentUser$ | async)?.balance}} coins
                    </span>
                </li>
        
                <li>
                    <button mat-icon-button class="icon" type="button" aria-label="Заказы">
                    <mat-icon>receipt_long</mat-icon>
                    </button>
                </li>
        
                <li>
                    <button mat-icon-button class="icon" type="button" aria-label="Корзина">
                    <mat-icon>shopping_cart</mat-icon>
                    </button>
                </li>
        
                <li>
                    <button class="logout-button" type="button" (click)="logout()">
                    Выход
                    </button>
                </li>
            </ul>
      </nav>
    </div>
  </header>  