<app-header></app-header>
<main class="page-content">
    <div class="container">
        @if (products$ | async; as products) {
            @if (cartItems$ | async; as cartItems) {
                <section class="catalog-header">
                <h3>Каталог товаров</h3>
                <h4>{{ products.length }} товаров</h4>
                </section>
            
                @if (products.length === 0) {
                <p>Нет товаров</p>
                } @else {
                <div class="products_container">
                    @for (product of products; track product.id) {
                    <section class="product_card">
                        <img [src]="product.image" [alt]="product.name" />
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.price }} коинов</p>
                        @if (getCartItem(product, cartItems); as cartItem){
                            <div class="quantity">
                                <button mat-icon-button type="button"  (click)="decreaseQuantity(cartItem)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                                <span>{{ cartItem.quantity }}</span>
                                <button mat-icon-button type="button" (click)="increaseQuantity(cartItem)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        } @else {
                            <button mat-flat-button class="add-cart-button" type="button" (click)="addToCart(product)">
                                <mat-icon>add</mat-icon>
                                В корзину</button>
                        }
                        
                    </section> 
                    }
                </div>
                }
          }}
    </div>
</main>